
#wild-container{
    background-image: url('https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

#strength{
    font-size: 1rem;
    color: rgba(247, 151, 8, 0.925);
    text-shadow: 1px 1px black;
}

#pokeball{
    height: 40px;
}
#pokeball:hover{
    transform: scale(1.5);
    transition: all linear 200ms;
}

#level{
    font-size: 3rem;
    font-weight: Bold;
}


.card-body{
    color: black;
    font-size: 0.8rem;
}