.imgLike{
    width: 30px;
    cursor: pointer
}

.card{
    background-image: url('https://images.unsplash.com/photo-1581257107100-f952b3a5c451?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.8);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}
.card-body{
    background-color: white;
}

