#homepage-offline{
    background-image: url('https://images.unsplash.com/photo-1627856013061-3da1dc64469e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 95vh;
    opacity: 0.85;
}

#home-title{
    color: white;
    text-shadow: 4px 6px #000000;
    font-size: 5rem;
    filter: brightness(2.75)
}

#home-subtitle{
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 2rem;
    filter: brightness(2.75)
}

#homepage-online{
    background-image: url('https://images.unsplash.com/photo-1638613067237-b1127ef06c00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 95vh;
    opacity: 0.60;
}

.onlineInfo{
    filter: brightness(5);
    font-weight: bold;
    color: red;
    
}

